/* backround rn its a color maybe it be a gradle <- wow i can spell- maddox Nov,9,22*/
body {
    background-color: #201f30;
}
.the-message {
    color: #201f30;
}

* {
   text-decoration: none; 
   color: black;
}

/* below is litterally just the word madrod228 at the top of the page */
.title {
text-align: center;
color: white;
font-family: "Comic Sans MS" ;
text-shadow: 0px 0px 7px magenta;
font-size: 40px;
}

.catfish {
    width: 100px;
    margin: .5%;
    transform-origin: 1s;
    transition: 2s ease-in-out;
}

.catfish:hover {
    transform: scale(30);
}

/* body below */

.main {
    background-color: aqua;
    margin: 5%;
    box-shadow: 7px 7px;
    border-radius: 3px;
    transition: ease-in-out 1s;
    position: relative;
}

.cats {
    width: 50px;
    height: 50px;
    display: flex;
    position: absolute;
    right: -46px;
    top: 0;
    background-color: aqua;
    box-shadow: 7px 7px;
    border-radius: 3px;
    transition: background-color 300ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects {
    width: 50px;
    height: 50px;
    display: flex;
    position: absolute;
    right: -46px;
    top: 60px;
    background-color: aqua;
    box-shadow: 7px 7px;
    border-radius: 3px;
    transition: background-color 300ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cats:hover {
    background-color: magenta;
}
.projects:hover {
    background-color: magenta;
}

.cattest {
    margin: 3%;
}