/* backround rn its a color maybe it be a gradle <- wow i can spell- maddox Nov,9,22*/
body {
    background-color: #201f30;
}
/* below is litterally just the word madrod228 at the top of the page */
.title {
text-align: center;
color: white;
font-family: "Comic Sans MS" ;
text-shadow: 0px 0px 7px magenta;
font-size: 40px;
transition: all ease-in-out 5s;
transform: rotate(360deg) 5s;
}
.catfish {
    width: 100px;
    margin: 3%;
}
/* body below */
.main {
    background-color: aqua;
    margin: 3%;
    box-shadow: 7px 7px;
    border-radius: 3px;
}

.cattest {
    margin: 10px;
}


